body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;
}

.navbar {
  display: flex;
  background-color: rgba(245, 141, 141, 0.722);
  justify-content: space-around;
  align-items: center;
}
.left-nav {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.left-nav img {
  width: 50px;
}
.left-nav ul {
  display: flex;
}

.left-nav ul li {
  list-style: none;
}
.left-nav ul li a {
  text-decoration: none;
  color: black;
  padding: 0px 10px;
}
.right-nav input:active {
  border: none;
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.5);
}
.right-nav input {
  font-size: 15px;
  padding: 5px;
  transition: 0.5s;
}
.right-nav button {
  margin-left: 5px;
  padding: 5px;
  background-color: #efedebb5;
}
.right-nav button:hover {
  cursor: pointer;
}

.products-area {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: 5px;
  border: 2px solid black;
}
.products img {
  max-height: 26rem;
  max-width: 22rem;
  margin-top: 2px;
}
/* .products .product {
  flex: 0 1 20rem;
  margin: 1rem;
  margin-bottom: 0;
  height: 42rem;
  border-top: 0.2rem #e0e0e0 solid;
} */
.products-name {
  line-height: 1.2rem;
}
.products-brand {
  font-size: 1.2rem;
  color: #808080;
}
.products-price {
  font-size: 2rem;
  padding-bottom: 0;
  margin-bottom: 0;
}
.products-area .products button {
  height: 2rem;
  background-color: gold;
  color: white;
  padding: auto;
}

/* Blog Screen */
.hexagonarea {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.hexagon .shape {
  position: absolute;
  top: 0;
  left: 0;
  margin: 5px;
  height: 100%;
  width: 100%;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
  transition: 0.5s;
}
.hexagon .shape img {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hexagon {
  position: relative;
  margin: 30px 10px;
  width: 350px;
  height: 400px;
}
.hexagon::before {
  content: '';
  position: absolute;
  bottom: -70px;
  width: 100%;
  height: 60px;
  background: radial-gradient(rgba(0, 0, 0, 0.15), transparent, transparent);
  border-radius: 50%;
  transition: 0.5s;
}
.hexagon:hover::before {
  opacity: 0.8;
  transform: scale(0.8);
}
.hexagon:hover .shape {
  transform: translateY(-30px);
}

.hexagon .shape .blog-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(45deg, #03a9f4, rgba(3, 169, 244, 0.2));
  color: white;
  transition: 0.5s;
  opacity: 0;
}
.hexagon .shape:hover .blog-content {
  opacity: 1;
}

/* Sign In */
.img {
  background: url('../public/img/bg_img.png');
  /* background: rgba(255, 255, 255, 0.174); */
  background-size: cover;
  background-position: center;
  height: 100vh;
}
/* .img::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
} */
.content {
  border-radius: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  text-align: center;
  padding: 60px 32px;
  width: 370px;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.133);
  border: 1px solid #fff;
  backdrop-filter: blur(3px);
  box-shadow: 0 0 6px 0 rgba(29, 29, 29, 0.203);
}
.content header {
  color: white;
  font-size: 33px;
  font-weight: 600;
  margin: 0 0 35px 0;
  font-family: sans-serif;
}
.field {
  height: 45px;
  width: 100%;
  position: relative;
  display: flex;
  background: rgba(255, 255, 255, 0.94);
  border-radius: 10px;
}
.field span {
  color: #222;
  width: 40px;
  line-height: 45px;
}
.field input {
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #222;
  font-size: 16px;
  font-family: sans-serif;
}
.space {
  margin-top: 16px;
}
.show {
  position: absolute;
  font-weight: 700;
  font-size: 13px;
  right: 13px;
  display: none;
  cursor: pointer;
  font-family: sans-serif;
}
.key:valid ~ .show {
  display: block;
}
.pass {
  text-align: left;
  margin: 10px 0;
}
.signup a {
  position: absolute;
  color: white;
  margin-top: 15px;
  left: 33px;
  text-decoration: none;
}
.pass a {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
}

.pass:hover {
  text-decoration: underline;
}
.field input[type='submit'] {
  background-color: #682efc;
  border: 1px solid #7741fd;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  font-family: sans-serif;
  transition: 0.3s ease;
  border-radius: 10px;
}
.field input[type='submit']:hover {
  background: #225394f5;
}
.login {
  color: white;
  margin: 20px 0;
  font-family: sans-serif;
}
i span {
  margin-left: 8px;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 16px;
}

/* Product Screen */
:root {
  --primary-color: #5344db;
  --accent-color: #5344db;
  --grey: #484848;
  --bg-grey: #efefef;
  --shadow: #949494;
}

.container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.row {
  display: flex;
  gap: 20px;
}

.col-6 {
  width: 50%;
}

.single-product {
  width: 1080px;
  position: relative;
}

.single-product .breadcrumb {
  background: #48484810;
  padding: 8px 4px;
  border-radius: 6px;
  font-size: 15px;
}
.breadcrumb span {
  display: inline-flex;
  flex-direction: row;
  gap: 8px;
  margin-left: 8px;
}
.breadcrumb span:not(:last-child)::after {
  content: '/';
}
.breadcrumb span a {
  text-decoration: none;
  color: var(--primary-color);
}

.single-product .product-image {
  width: 100%;
}
.product-image .product-image-main {
  position: relative;
  display: block;
  height: 480px;
  background: var(--bg-grey);
  padding: 10px;
}
.product-image-main img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product-image-slider {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}
.product-image-slider img {
  width: 90px;
  height: 90px;
  background: var(--bg-grey);
  padding: 6px;
  cursor: pointer;
}

.product-title {
  margin-top: 20px;
}
.product-title h2 {
  font-size: 32px;
  line-height: 2.4rem;
  font-weight: 700;
  letter-spacing: -0.02rem;
}

.product-rating {
  display: flex;
  margin-top: 4px;
  margin-bottom: 10px;
  align-items: center;
}
.product-rating span:not(:last-child) {
  color: #ffc600;
}
.product-rating .review {
  color: var(--grey);
  font-size: 12px;
  font-weight: 500;
}

.product-price {
  display: flex;
  position: relative;
  margin: 10px 0;
  align-items: center;
}
.product-price .offer-price {
  font-size: 48px;
  font-weight: 700;
}
.product-price .sale-price {
  font-size: 22px;
  font-weight: 500;
  text-decoration: line-through;
  color: var(--grey);
  margin-left: 12px;
}

.product-details {
  margin: 10px 0;
}
.product-details h3 {
  font-size: 20px;
  font-weight: 600;
}
.product-details p {
  margin: 5px 0;
  font-size: 14px;
  line-height: 1.2rem;
}

.product-size {
  margin: 10px 0;
}
.product-size h4 {
  font-size: 16px;
  font-weight: 600;
}
.product-size .size-layout {
  margin: 5px 0;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.product-size .size-layout .size-input {
  display: none;
}
.product-size .size-layout .size {
  background: var(--bg-grey);
  padding: 5px 10px;
  border: 1px solid var(--bg-grey);
  border-radius: 6px;
  margin-left: 0px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.15s;
}
.product-size .size-layout .size:hover {
  border: 1px solid var(--grey);
  transform: scale(1.2);
}
.product-size .size-layout input[type='radio']:checked + .size {
  background-color: rgba(35, 35, 35, 0.829);
  border: 1px solid var(--grey);
  color: var(--bg-grey);
  box-shadow: 0 3px 6px var(--shadow);
}

.product-color {
  margin: 10px 0;
  justify-content: center;
}
.product-color h4 {
  font-size: 16px;
  font-weight: 600;
}
.product-color .color-layout {
  margin: 5px 0;
  display: flex;
  gap: 10px;
}
.product-color .color-layout label {
  border-radius: 6px;
  cursor: pointer;
  content: '';
  width: 30px;
  height: 30px;
  display: inline-block;
}
.product-color .color-layout .black {
  background-color: black;
}
.product-color .color-layout .red {
  background-color: red;
}
.product-color .color-layout .blue {
  background-color: blue;
}
.product-color .color-layout .color-input {
  display: none;
  /* transition: 0.15s; */
}
.product-color .color-layout input[type='radio']:checked + label {
  box-shadow: 0 3px 6px var(--shadow);
  /* transform: scale(1.2); */
}

.divider {
  display: block;
  height: 1px;
  width: 100%;
  background: #48484830;
  margin: 20px 0;
}

.product-btn-group {
  display: flex;
  gap: 15px;
}
.product-btn-group .button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 10px 24px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
}
.product-btn-group .buy-now {
  background-color: royalblue;
  color: #fff;
  border: 1px solid royalblue;
  transition: 0.25s;
  /* border-radius: 6px;
  cursor: pointer; */
}
.product-btn-group .buy-now i {
  font-size: 20px;
}
.product-btn-group .buy-now:hover {
  box-shadow: 0 3px 6px var(--shadow);
  letter-spacing: 2px;
}
.product-btn-group .add-cart {
  background-color: var(--bg-grey);
  color: var(--grey);
  /* border-radius: 6px;
  cursor: pointer; */
}
.product-btn-group .add-cart i {
  font-size: 20px;
}
.product-btn-group .add-cart:hover {
  box-shadow: 0 3px 6px var(--shadow);
  background: var(--grey);
  color: #fff;
}
.product-btn-group .heart {
  background-color: var(--bg-grey);
  color: var(--grey);
  /* border-radius: 6px;
  cursor: pointer; */
}
.product-btn-group .heart i {
  font-size: 20px;
}
.product-btn-group .heart:hover {
  color: rgba(238, 17, 91, 0.897);
  /* box-shadow: 0 3px 6px var(--shadow);
  background: var(--grey); */
}

@media screen and (max-width: 520px) {
  .container {
    padding: 20px;
    height: auto;
  }
  .row {
    display: block;
  }
  .col-6 {
    width: 100%;
    display: block;
  }
  .single-product {
    width: 100%;
    position: relative;
  }
  .product-image .product-image-main {
    width: 100%;
    height: 280px;
  }
  .product-image-slider {
    gap: 5px;
  }

  .breadcrumb {
    display: none;
  }

  .product-title h2 {
    font-size: 24px;
    line-height: 1.6rem;
  }

  .product-size {
    display: block;
  }
  .product-size .size-layout {
    display: block;
    margin: 10px 0;
  }
  .product-size .size-layout .size {
    padding: 6px 10px;
  }
  .product-btn-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media (min-width: 520px) and (max-width: 1080px) {
  .container {
    display: block;
    height: auto;
    padding: 20px;
  }
}

/* About Us */
