@import './navbar.css';
@import url('./products.css');
@import url('./blog.css');
@import url('./signin.css');
@import url('./productscreen.css');
@import url('./products-updated.css');
@import url('./card.css');
@import url('./footer.css');
@import url('./slider.css');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;
}
/* About Us */
main {
  min-height: 100vh;
}
